<!--

 Copyright 2018 Motorola Solutions, Inc.
 All Rights Reserved.
 Motorola Solutions Confidential Restricted

-->
<div class="header">
	<h1 class="reportName" data-bind="reportName"></h1>
	<h2 class="status" data-bind="status"></h2>
	<h3 class="last-build" data-bind="buildDate"></h3>
</div>
	<div class="footer-header">
		<p>Last build</p>
		<p>Duration</p>
		<p>Health</p>
	</div>
<div class="footer">
	<p class="number" data-bind="buildNumber | prepend '#'"></p>
	<p class="duration" data-bind="buildDuration"></p>
	<p class="health" data-bind="healthScore | append '%'"></p>
</div>
