//
// Copyright 2018 Motorola Solutions, Inc.
// All Rights Reserved.
// Motorola Solutions Confidential Restricted
//
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #6d6d6d ;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$green:			#058C42;
$yellow: 		#F3C13A;
$red:				#B0413E;
$blue:				#044F67;
$darkgreen:		#006442;
  
// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-jenkins-test {

	vertical-align: top !important;
	
  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

 .reportName {
 	padding-top:40px;
	margin-bottom:0px !important;
	font-weight: 700;
 }

  &.large h3, &.large h2  {
    font-size: 65px;
  }
  
  .status {
  		-webkit-margin-before: 0em !important;
		font-size: 40px;
		color: rgba(0, 0, 0, 0.5)
  }
  
  .last-build {
  		margin-top:12px !important;
		color: rgba(0, 0, 0, 0.5)
  }
  
  .header {
  		width: 100%;
		height: 185px;
 	-webkit-border-top-left-radius: 10px;
 	-webkit-border-top-right-radius: 10px;
  }
    .footer-header {
		width:100%;
		height:20px;
   		-webkit-border-bottom-left-radius: 10px;
 		-webkit-border-bottom-right-radius: 10px;
		color: rgba(0, 0, 0, 0.5);
	  padding-top:3px;
	  font-weight: normal;
      font-size: 12px;  
	  text-transform: uppercase;
	  z-index: -50;
	  
	}
   
   .footer {
      position:absolute;
      bottom:0px;
	  width: 100%;
	  height: 50px; 
	  background: #333;
	  -webkit-border-bottom-left-radius: 10px;
 	  -webkit-border-bottom-right-radius: 10px;
	  z-index: -100;
	  text-align: center;
    }
	
    .duration, .number, .health,  .footer-header > p {
	  text-align: center;
	  float: left;
	  margin-left: 16px;
	  margin-right: 16px;
	  width: 90px;
    }
	
    .duration, .number, .health {
	  text-align: center;
	  color: rgba(255, 255, 255, 0.2);
	  padding-top:10px;
	  font-weight: bold;
      font-size: 26px;  
	 }

  
     .status-unknown {
    background-color: $yellow;
  }

  .status-unstable {
    background-color: $yellow;
  }

  .status-running {
    background-color: $blue;
  }

  .status-success {
    background-color: $green;
  }

  .status-failure {
    background-color: $red;
  }

  .status-aborted {
    background-color: $darkgreen;
  } 
  
  }
  
 
