<!--
#
# Copyright 2018 Motorola Solutions, Inc.
# All Rights Reserved.
# Motorola Solutions Confidential Restricted
#
-->
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 250]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
 
 	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    	  <div data-id="empty-3"></div>
   	</li>
 
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>

    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="empty-2"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-1" data-view="JenkinsTest"></div>
      <div data-id="jenkins-11" data-view="JenkinsTest"></div>
      <div data-id="jenkins-21" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-2" data-view="JenkinsTest"></div>
      <div data-id="jenkins-12" data-view="JenkinsTest"></div>
      <div data-id="jenkins-22" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-3" data-view="JenkinsTest"></div>
      <div data-id="jenkins-13" data-view="JenkinsTest"></div>
      <div data-id="jenkins-23" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-4" data-view="JenkinsTest"></div>
      <div data-id="jenkins-14" data-view="JenkinsTest"></div>
      <div data-id="jenkins-24" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-5" data-view="JenkinsTest"></div>
      <div data-id="jenkins-15" data-view="JenkinsTest"></div>
      <div data-id="jenkins-25" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-6" data-view="JenkinsTest"></div>
      <div data-id="jenkins-16" data-view="JenkinsTest"></div>
      <div data-id="jenkins-26" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-7" data-view="JenkinsTest"></div>
      <div data-id="jenkins-17" data-view="JenkinsTest"></div>
      <div data-id="jenkins-27" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-8" data-view="JenkinsTest"></div>
      <div data-id="jenkins-18" data-view="JenkinsTest"></div>
    </li>

    <li data-switcher-interval="10000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-9" data-view="JenkinsTest"></div>
      <div data-id="jenkins-19" data-view="JenkinsTest"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins-10" data-view="JenkinsTest"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="jira-1" data-view="Jira" data-height="200" data-width="200" data-min="0" data-max="100"></div>
    </li>

  </ul>
</div>