//
// Copyright 2018 Motorola Solutions, Inc.
// All Rights Reserved.
// Motorola Solutions Confidential Restricted
//

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #264348 ;

$title-color:       rgba(255, 255, 255, 0.7);

$green:			#058C42;
$yellow: 		#F3C13A;
$red:				#B0413E;
$blue:				#044F67;
$darkgreen:		#006442;
  
 $meter-background:  darken($background-color, 7%);
 
// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-jira {

	vertical-align: top !important;
	
	
  input.meter {
    background-color: $meter-background;
    color: #fff;
  }
	.white {
		color: white !important;
	}
  .more-info {
		color: rgba(255, 255, 255, 0.5);
	margin-top: -100px;
		position:relative;
		top:35px;
		font-weight: 800;
		font-size: 20px;
  }
	.jira-data {
		margin-top:20px;
	}
	.jiraCount {
		width: 150px;
		font-size: 95px;
		text-align:center;
		font-weight: 800;
		margin-left: 20px;
		color: rgba(255, 255, 255, 0.5);
	}
  
  	.jiraCountTitle {
		width: 150px;
		font-size: 20px;
		text-align:center;
		font-weight: 800;
		margin-left: 20px;
		color: rgba(255, 255, 255, 0.5);
		 text-transform: uppercase;
	}
  
   	.jiraCountPoints {
		width: 150px;
		font-size: 20px;
		text-align:center;
		font-weight: 800;
		margin-left: 20px;
		color: rgba(255, 255, 255, 0.5);
		margin-top: -30px;
	}
  
  .moredata {
	    float: left;
    		margin-top: -13px;
  }
  
    .header {
  		width: 100%;
		height: 205px;
 	-webkit-border-top-left-radius: 10px;
 	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;

	background-color: $background-color;
  }
  
     .footer {
      position:absolute;
      bottom:0px;
	  width: 100%;
	  height: 50px; 
	  background: #333;
	  -webkit-border-bottom-left-radius: 10px;
 	  -webkit-border-bottom-right-radius: 10px;
	  z-index: -100;
	  text-align: center;
    }
	
      .footer > p {
	  text-align: center;
	  margin-left: 16px;
	  margin-right: 16px;
	  width: auto;
	  text-align: center;
	  color: rgba(255, 255, 255, 0.2);
	  padding-top:10px;
	  font-weight: bold;
      font-size: 26px;  

    }
	
	.next-update {
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.2) !important;
		padding-top:0px !important;
    		float: right;
		margin-top: 10px;
	}
	
	.small {
		font-size: 12px !important;  
		font-weight: normal !important;
	}
	
	.inline {
		display: block;
		display: inline-block;
	}	
	.block {
		display: block;
		}
		
	.error  {
		width:100%;
		font-size: 55px;
		text-align:center;
		font-weight: 800;
		color: rgba(0, 0, 0, 0.5);
		margin-top: 50px;
	}
  
}
  
 
