<!--

 Copyright 2018 Motorola Solutions, Inc.
 All Rights Reserved.
 Motorola Solutions Confidential Restricted

-->
<div class="header">
	<div class="inline data">
		<input class="meter" 
		data-angleOffset=-125 data-angleArc=250 data-bind-data-height="height | default 200" data-bind-data-width="width | default 200" data-readOnly=true data-bind-value="meterPercentage | shortenedNumber | prepend prefix | append suffix" data-bind-data-min="meterMin" data-bind-data-max="meterMax">
		<p class="more-info">% CLOSED</p>
	</div>
	<div class="inline jira-data data">
		<div class="block">
			<p class="jiraCountTitle inline">To Do</p>
			<p class="jiraCountTitle inline"> In Progress</p>
			<p class="jiraCountTitle inline">In Review</p>
			<p class="jiraCountTitle inline">Resolved</p>
			<p class="jiraCountTitle inline white">Closed</p>
		</div>
		<div class="block">
			<p class="jiraCount inline" data-bind="issuesOpenCount"></p>
			<p class="jiraCount inline" data-bind="issuesInProgressCount"></p>
			<p class="jiraCount inline" data-bind="issuesInReviewCount"></p>
			<p class="jiraCount inline" data-bind="issuesResolvedCount"></p>
			<p class="jiraCount inline white" data-bind="issuesClosedCount"></p>
		</div>
		<div class="block moredata">
			<p class="jiraCountPoints inline" data-bind="issuesOpenPoints | append ' SP'"></p>
			<p class="jiraCountPoints inline" data-bind="issuesInProgressPoints | append ' SP'"></p>
			<p class="jiraCountPoints inline" data-bind="issuesInReviewPoints | append ' SP'"></p>
			<p class="jiraCountPoints inline" data-bind="issuesResolvedPoints | append ' SP'"></p>
			<p class="jiraCountPoints inline white" data-bind="issuesClosedPoints | append ' SP'"></p>
		</div>
	</div>
	<div class="inline error" data-bind="error"></div>
</div>
<div class="footer">
	<p class="view-name inline" data-bind="viewName"></p>
	<p class="sprint-name inline data" data-bind="sprintName | prepend '     '"></p>
	<p class="remainig-days inline data" data-bind="remainingDays | prepend '     '"></p>
	<p class="next-update inline">
	<span class="small">NEXT UPDATE</span>
	<span class="small nextUpdateMin"> IN &nbsp; </span>
	<span  data-bind="nextUpdate"></span>
	<span class="small nextUpdateMin"> &nbsp; MIN</span>
	</p>
</div>
